:root {
  font-size: 62.5%;
  --roboto: "DM Sans", sans-serif;
  --code: "DM Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: var(--roboto);
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  color: var(--text-background-high);
  background: var(--colors-background_0);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reset */

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}